.review {
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    max-width: 90%;
    border: 1px solid gray;
    padding: 15px 25px;
    border-radius: 10px;
    overflow-y: hidden;
    .customer {
      font-size: 1rem;
      font-weight: 400;
    }
    .title {
      font-size: 0.9rem;
      font-weight: 400;
      color: #fff7e9;
    }
    .desc {
      line-height: 1.5rem;
    }
    .date {
      font-size: 0.7rem;
      font-weight: 400;
    }
  }
}
