@import "../../_settings.global.scss";

.reviews {
  display: flex;
  justify-content: center;
  background-color: #1746a2;
  color: #fff7e9;
  padding: 20px 0;
  .container {
    @include responsive($xs) {
      width: $xs;
    }
    @include responsive($sm) {
      width: $sm;
    }
    @include responsive($med) {
      width: $med;
    }
    @include responsive($lg) {
      width: $lg;
    }
    @include responsive($xl) {
      width: $xl;
    }
    // width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 20px;
    .top {
      margin: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      align-items: center;
      .title {
        font-size: 2rem;
      }
      .widget {
        @include responsive($xs) {
          display: none;
        }
        @include responsive($sm) {
          display: none;
        }
        @include responsive($med) {
          display: block;
        }
        position: absolute;
        top: -20px;
        right: 0;
        background-color: #fff7e9;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        gap: 5px;
        color: black;
        border-radius: 5px;
        #tt-dynamic {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
      .button {
        border: 1px solid #fff7e9;
        padding: 10px 5px;
        border-radius: 5px;

        &:hover {
          background-color: #fff7e9;
          color: black;
        }
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      gap: 60px;
    }
  }
}
