@import "../../_settings.global.scss";

.contact {
  display: flex;
  justify-content: center;
  background-color: #1746a2;
  color: #fff7e9;
  padding: 40px;

  .container {
    width: 1200px;
    display: flex;
    @include small-up {
      // width: $xs;
      flex-direction: column;
    }
    @include medium-up {
      // width: $xs;
      flex-direction: row;
    }
    gap: 20px;
    justify-content: space-between;
    .leftside {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .title {
        @include small-up {
          text-align: center;
          font-size: 1em;
          font-weight: 400;
        }
        @include medium-up {
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
      .address {
        font-weight: 400;
      }
      .email {
        font-size: 0.9em;
        color: gray;
      }
      .phone {
        font-size: 0.9rem;
        color: gray;
      }
    }
    .rightside {
      form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        input {
          padding: 10px;
          width: 100%;
          outline: none;
          border: none;
          color: white;
          background-color: transparent;
          border-bottom: 2px solid #fff7e9;

          &::placeholder {
            color: #fff7e9;
          }
        }
        textarea {
          width: 100%;
          padding: 10px;
          height: 200px;
          outline: none;
          border: none;
          color: white;
          background-color: transparent;
          border-bottom: 2px solid #fff7e9;

          &::placeholder {
            color: #fff7e9;
          }
        }
        button {
          width: 100%;
          padding: 10px;
          background-color: transparent;
          color: #fff7e9;
          border: 1px solid white;
          cursor: pointer;
          border-radius: 5px;

          &:hover {
            background-color: #fff7e9;
            color: black;
          }
        }
      }
    }
  }
}
