.home {
  display: flex;
  justify-content: center;
  background-color: rgb(44, 42, 42);
  color: rgb(212, 186, 138);
  .container {
    width: 1200px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

    .about {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .title {
        font-size: 3em;
        font-weight: 500;
      }
      .desc {
        text-align: left;
        line-height: 1.5rem;
      }
      .about_img {
        margin-top: 20px;
        width: 100%;
        height: 500px;
      }
    }
    .bottom {
      .bottom_img {
        width: 100%;
      }
    }
  }
}
