@import "../../responsive.scss";

nav {
  background-color: #ff731d;
  color: #fff7e9;
  height: 100px;
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 999;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    @include sm {
      max-width: 480;
    }
    @include md {
      max-width: 768;
    }
    @include lg {
      max-width: 1024;
    }
    @include xl {
      min-width: 1025;
    }

    .logo {
      .link {
        .logowraper {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          @include md {
            font-size: 0.6em;
          }
          @include lg {
            font-size: 0.8em;
          }
          @include xl {
            font-size: 1em;
          }
        }
      }
      @include sm {
        display: none;
      }
    }
    .links {
      display: flex;
      gap: 20px;
      // font-size: 1.5em;
      font-weight: 500;
      @include sm {
        font-size: 0.4em;
      }
      @include md {
        font-size: 0.6em;
      }
      @include lg {
        font-size: 0.8em;
      }
      @include xl {
        font-size: 1em;
      }

      .home_link {
        cursor: pointer;
        &:hover {
          border-bottom: 2px solid #fff7e9;
        }
      }
      .projects {
        cursor: pointer;
        &:hover {
          border-bottom: 2px solid #fff7e9;
        }
      }
      .reviewLink {
        cursor: pointer;
        &:hover {
          border-bottom: 2px solid #fff7e9;
        }
      }
      .contacts {
        cursor: pointer;
        &:hover {
          border-bottom: 2px solid #fff7e9;
        }
      }
      .add {
        cursor: pointer;
        &:hover {
          border-bottom: 2px solid #fff7e9;
        }
      }
      .logoutButton {
        cursor: pointer;
        font-size: 1em;
        background-color: #ff731d;
        color: white;
        border: none;
        font-weight: 500;
        &:hover {
          border-bottom: 2px solid #fff7e9;
        }
      }
      .register {
        cursor: pointer;
        &:hover {
          border-bottom: 2px solid #fff7e9;
        }
      }
      .login {
        cursor: pointer;
        &:hover {
          border-bottom: 2px solid #fff7e9;
        }
      }
    }
  }
}
