.navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(57, 36, 36);
  color: white;
  position: sticky;
  top: 0;
  .container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    .logo {
      font-size: 1.4em;
      font-weight: bold;
      cursor: pointer;
    }
    .links {
      display: flex;
      gap: 20px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
