@import "../../responsive.scss";
.footer {
  height: 120px;
  padding: 10px;
  background-color: #1746a2;
  color: #fff7e9;
  .container {
    height: 100%;
    // width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    @include sm {
      max-width: 480;
    }
    @include md {
      max-width: 768;
    }
    @include lg {
      max-width: 1024;
    }
    @include xl {
      min-width: 1025;
    }
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .social {
        display: flex;
        gap: 20px;
        font-size: 1.5rem;
      }
      .toppro {
        display: flex;
        align-items: center;
        .topproContainer {
          position: relative;
          .textContainer {
            display: flex;
            color: gold;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 0.5em;
            position: absolute;
            top: 13px;
            left: 15px;
          }
        }
      }
    }
    .bottom {
      margin-bottom: 20px;
    }
  }
}
