.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #1746a2;
  color: #fff7e9;
  .container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      .social {
        display: flex;
        gap: 20px;
        font-size: 1.5rem;
      }
    }
    .bottom {
      margin-bottom: 20px;
    }
  }
}
