@import "../../_settings.global.scss";

.slide {
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  position: relative;
  width: 100%;

  .container {
    width: 100%; // @include responsive($xs) {
    //   max-width: 380px;
    //   padding: 0 10px;
    // }
    // @include extra-small {
    //   width: 100%;
    // }
    // @include small-down {
    //   max-width: 480px;
    // }
    // @include medium-up {
    //   max-width: 768px;
    // }
    // @include large {
    //   max-width: 1200px;
    // }
    // width: 1200px;
    .carousel-next,
    .carousel-prev {
      width: 30px;
      height: 30px;
      // gap: 10px;
      border-radius: 50%;
      background-color: #fff7e9;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}
